/* CSS common to all Screen Widths: 
*  
*
*/
/* CSS for packets22 NAV   */ 

    ul {
        margin:0;
        padding:0;
        list-style:none;

    }
        .transition-0-1{
            transition: opacity 0.7s;
        }
        
        .transition-1-0{
            transition: opacity 0.2s;
        }
/*End CSS page & ceo  contents */ 
   
/*BEGIN CSS packets2 (NAV) */
    .packets2-menu-container{
        position: absolute;
        top: 0rem;
        right: 0rem;
        /*width: 8rem;*/
        /*border: 3px solid pink;*/
    }
	    /*BEGIN CSS for packets22 (Main Labels) */
            .packets2-label-lev-1{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: yellow;
                font-weight: bold;
                padding-top: 0.5rem;
                padding-bottom: 0.4rem;
                background-color: rgb(0,0,50);
                z-index: 50;
            }
            
                .menu-label-lev-1:hover{
                    color: #FFD700;
                }

                
	    /*END CSS for packets2 (Main Labels) */
        
	    /*BEGIN CSS for packets2 (1st DropDown) */
            .packets2-menu-dd-lev-1{
                display: block;
                text-align: center;
                z-index: 40;
				position: relative;
				top: 0rem;
				left: 0rem;
                background-image: radial-gradient(blue, black);
                padding: 0.5rem 0;
                transition: margin-top 0.5s;
                border: 2px solid yellow;
                border-radius: 10px;
            }
                .packets2-menu-dd-lev-1 li a{
                    font-weight: bold;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;
                }
            /*.packets2-menu-dd-lev-1{
                display: block;
                text-align: center;
                z-index: -1;
                background-image: radial-gradient(blue, black);
                padding: 0.5rem 0;
                border: 2px solid yellow;
                border-radius: 10px;
            }
                .packets2-menu-dd-lev-1 li a{
                    font-weight: bold;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;
                }*/.packets2-menu-dd-lev-1 li a:hover{
                        color: yellow;
                    }

                    .span-1-sp{
                        opacity: 0;
                    }
            .packets2-menu-dd-lev-1{
                transition: margin-top 0.5s;
            }
	    /*END CSS for packets2 (1st DropDown) */
        
	    /*BEGIN CSS for packets2 (2nd DropDown) */ 
           /* .packets2-menu-dd-lev-1 li a:hover{
                color: yellow;
            }

            .span-1-sp{
                opacity: 0;
            }*/
	    /*END CSS for packets2 (2nd DropDown) */
    /*END CSS for packets2 (NAV) */
/*END CSS for packets2 (NAV) */





